<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
            <tr>
                <td bgcolor="#daa621" align="center" style="padding: 0 0 0 0;">
                    <img src="cid:logoCasulus" alt="Loja Casulus" width="300" height="230" style="display: block;" />
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <h1 style="color: black; font-family: Arial, sans-serif; padding-left: 140px">
                                Parabéns você foi aprovado como atacadista!
                            </h1>
                        </tr>
                        <tr>
                            <td style="color: black; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; padding: 20px 0 30px 0;">
                                <h4>Bem vindo a loja Casulus. Visite nosso site para conhecer nossos produtos!</h4>
                                <div>Aqui você encontra os melhores produtos para suas relações, novidades e produtos exclusivos.</div>
                            </td>
                        </tr>
                        <tr>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="260" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <img src="cid:testImage" alt="" width="100%" height="140"
                                                        style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; padding: 25px 0 0 0;">
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;" width="20">
                                        &nbsp;
                                    </td>
                                    <td width="260" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <img src="cid:testImage2" alt="" width="100%" height="140"
                                                        style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0;">
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="75%">
                                &reg; Alguém, Algum lugar 2020<br />
                                Siga-nos nas redes socials
                            </td>
                            <td align="right">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <a href="http://www.twitter.com/">
                                                <img src="" alt="Twitter" width="38" height="38"
                                                    style="display: block;" border="0" />
                                            </a>
                                        </td>
                                        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                        <td>
                                            <a href="http://www.twitter.com/">
                                                <img src="" alt="Facebook" width="38" height="38"
                                                    style="display: block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </table>
</body>

</html>